<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713802498371-2npe3m3vbtgsof5sg1lcn96pkue5js57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713802498371-2npe3m3vbtgsof5sg1lcn96pkue5js57</string>
	<key>API_KEY</key>
	<string>AIzaSyCEB_BQG7PgcPwxeXhkhdwNgp-cOb_CJZY</string>
	<key>GCM_SENDER_ID</key>
	<string>713802498371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieNight</string>
	<key>PROJECT_ID</key>
	<string>movienight-96670</string>
	<key>STORAGE_BUCKET</key>
	<string>movienight-96670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713802498371:ios:b61824715f353fbcc96ff6</string>
	<key>DATABASE_URL</key>
	<string>https://movienight-96670.firebaseio.com</string>
</dict>
</plist>